---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'bourbon';

/*-------------------------------------------- */
/** Reset */
/*-------------------------------------------- */

@import 'base/reset';

/*-------------------------------------------- */
/** Variables */
/*-------------------------------------------- */

@import 'base/variables';
@import 'base/colors';
@import 'base/settings';


/*-------------------------------------------- */
/** Utils */
/*-------------------------------------------- */

@import 'utils/mixins';


/*-------------------------------------------- */
/** Base */
/*-------------------------------------------- */

@import 'base/base';
@import 'base/typography';


/*-------------------------------------------- */
/** Layout */
/*-------------------------------------------- */

@import 'layout/__layouts';

/*-------------------------------------------- */
/** Modules */
/*-------------------------------------------- */

@import 'modules/__modules';