---
layout: default
---
<section class="content">
  <figure class="page-hero">
    <img src="/uploads/pbj.jpg" alt="">
    <figcaption><a class="credit" href="#">Technodrome</a></figcaption>
  </figure>
  <div class="post-meta">
     <h1 class="text-center">{{ site.title }}</h1>
  </div>
</section>
<section class="content">
  <div class="page-list">
    <h2>Work</h2>
    <ul>
      {% for work in site.work %}
      <li>
        <a href="{{ work.site_url }}">{{work.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-list">
    <h2>Goals</h2>
    <ul>
      {% for goal in site.goals %}
      <li>  
        {% if goal.display == 'active' %}
          <a href="{{goal.url}}">{{goal.title}}</a>
        {% else  %}
          {{goal.title}}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-list">
    <h2>Writing</h2>
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>