---
layout: default
---
<section class="content">
  <figure class="page-hero">
    <img src="/uploads/pbj-md.jpg" alt="">
    <figcaption><a href="#">Technodrome</a></figcaption>
  </figure>
  <h1 class="text-center">{{ site.title }}</h1>
  <p>{{ site.bio }}</p>
</section>
<section class="content">
  <div class="page-list">
    <h2>Projects</h2>
    <ul>
      {% for work in site.work %}
      <li>
        <a href="{{ work.url }}">{{work.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-list">
    <h2>Goals</h2>
    <ul>
      {% for goal in site.goals %}
      <li>
        <a href="{{ goal.url }}">{{goal.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="page-list">
    <h2>Writing</h2>
    <ul>
      {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{post.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>



<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

