.article {
	width: 100%;
	float: left;
	margin-bottom: 5%;
}

.article-meta {
	margin: 1.5em 0;
	text-align: center;
}

.content {
	float: left;
	max-width: 32em;
	margin: 0 5%;
	@media (min-width: 50em){
		@include span-columns(8);
		@include shift(2);
	}
}