.btn {
	padding: 10px 25px;
	border: 5px solid;
	display: table;
	margin: 35px auto;
	font-family: $reg;
}

.btn-project {
	@include transition(all 300ms ease);
	border-color: $black;
	&:hover {
		background: $black;
		color: $gray;
	}
}