html,
body {height: 100%;}

.container {
  @include outer-container(800px);
  padding: 5%;
  display: block;
  margin: auto;
  @media(min-width: 400px){padding:1%;}
}

.header,
.footer,
.block {
  @include span-columns(12);
  @include omega();
  margin-bottom: 5%;
}

.footer {margin-bottom: 0;}




.hire-me--faq {
  margin-bottom: 25px;
}