html,
body {height: 100%;}


header,
footer,
.content {
  @include outer-container(800px);
  padding: 0 5% 5%;
  display: block;
  margin: auto;
  @media(min-width: 400px){padding: 0 20px 20px 20px;}
}

article header {padding-bottom: 0;}
.site-header {
  padding-top: 5%;
  @media(min-width: 400px){padding-top: 20px;}
}
.content {margin-bottom: 50px;}

.content-full {
  @include span-columns(10);
  @include shift(2);
}

.page-hero img{width: 100%;}
.page-list {
  @include span-columns(12);
  margin-bottom: 25px;
  text-align: center;
  @media (min-width: 400px){
    @include span-columns(4);
  }
}


.writing-list,
.goals-list {
  max-width: 450px;
  margin: 50px auto;
  li {margin-bottom: 25px;}
}

ul, ol {
  margin-bottom: 15px;
  li {margin-bottom: 10px;}
}


.hire-me--faq {
  margin-bottom: 25px;
}