ul, ol {
  margin-bottom: 5%;
  li {margin-bottom: 1em;}
}

.list {
    @include span-columns(12);
    text-align: center;

    @media (min-width: 50em) {@include span-columns(4);}
}

.list-title {
  font-size: 1.25em;
  margin-bottom: 1em;
}

.list-centered {
  max-width: 28em;
  margin: 3em auto;
  li {margin-bottom: 1.85em;}
}

.list-centered--title {font-size: 1.5em;}