.header {
  text-align: center;
  @media (min-width: 50em){text-align: left;}
}

.nav {
  ul {
    text-align: center;
    margin: 0;
    @media (min-width: 50em){text-align: left;}
  }
  li {
    display: inline-block;
    margin: 0 1em;
  }
  a {font-size: .750em;}
}

.nav-main {@media (min-width: 50em){float: right; }}
.nav-social {@media (min-width: 50em){float: left; }}

.site-title {
  margin-bottom: 2%;
  display: inline-block;
  &:after {
    display: none;
  }
  @media (min-width: 50em){
    float: left;  
    &:after {
      display: block;
    }
  }
}

.ss-icon {
  li {margin: 0 5px;}
  a {
    font-size: em(16px);
    &:after {display: none;}
  }
}
