.article {
	@include clearfix;

	a {
		color: $color-blue;
		text-decoration: underline;
	}
	
	&__title {
		text-align: center;
	}

	&__date {
		@include table-centered;
	}
	
	&__articles-list {
		p {
			margin-top: 0;
			text-indent: 0;
		}
	}

	&__articles-list-item {
		margin-bottom: 30px;

		p {
			text-indent: 0;
		}
	}

	&__articles-title {
		margin-bottom: 5px;
	}

	.btn {
		text-decoration: none;
		color: $color-white;
	}
}

.article-meta {
	margin: 1.5em 0;
	text-align: center;
}


pre.highlight {
	background-color: #ecf0f1;
	padding: 20px 25px;
}

code {
	padding-top: 25px;
	padding-bottom: 25px;
	max-width: 100%;

}