.scenario-group {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: $scenario-gray;

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: rem(18)
  }

  p {
    text-indent: 0;
    line-height: 1.8;

    &:first-of-type {
      margin-top: 5px;
    }
  }


}

.scenario-disclaimer {
  font-size: rem(14);
  font-style: italic;
}