---
layout: default
---
<article class="article">
    <header class="post-header">
      {% if page.img%}
      <figure class="page-hero">
        <img src="{{ page.img }}" alt="{{page.title}}">
      </figure>
      {% endif %}
      
      <div class="post-meta text-center">
        <h1>{{ page.title }}</h1>
        {% if page.date %}
          <small>{{ page.date | date: "%b %-d, %Y" }}</small>
        {% endif %}
      </div>
    </header>

    <section class="content">
      {{ content }}
    </section>
</article>