@include font-face('SuperiorTitle-Reg', '/fonts/SuperiorTitle-Regular', 400 , 'normal');

.site-title, 
h1, h2, h3, 
h4, h5, h6 {
	line-height: 1.5;
}

h1 {font-size: em(28px);}

p {
	margin-bottom: 15px;
}

a {
	color: $color-black;
	text-decoration: underline;

	@media(min-width: 40em) {
		text-decoration: none;

		&:hover {
			text-decoration: underline;			
		}
	}
}

	
strong {
	font-weight: 600;
}

dl {
	margin-top: 25px;
}

dt {
	font-size: em(20px);
	margin-bottom: 5px;
}

dd {margin-bottom: 50px;}

.footnote,
.footnotes {
	font-size: (12px);
}
.footnote {margin-left: 3px;}